.quotes-container {
  margin-top: 8rem;
  background: #fff;
  padding: 5rem;
}

.quotes {
  font-size: 3rem;
  color: #191737;
  line-height: 5rem;
}

.quotes-name {
  font-size: 1.6rem;
  color: #191737;
}

.quotes-location {
  color: #70706e;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.quotes-img {
  background: #f6876a;
  width: 100%;
  padding: 5rem;
  border-radius: 43%;
  height: 30rem;
}

.brands-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 8rem;
}

.brand-img-wrapper {
  width: 200px;
  height: 100px;
}

.brand-img {
  width: 100%;
}

.img-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 8rem;
  transform: translateY(100px);
}

.img-card {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-card:nth-child(odd) {
  background: #c0b5dd;
}

.img-card:nth-child(even) {
  background-color: #f6876a;
}

.img {
  width: 20rem;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.icon {
  font-size: 50px;
  color: #fff;
}

.arrow {
  background: #f57751;
  padding: 1rem;
  color: #fff;
  border-radius: 50%;
  margin-top: 3rem;
}

.icon-text {
  font-size: 1.4rem;
  color: #fff;
  width: 15rem;
  text-align: center;
  line-height: 2.5rem;
}
